name: Check Caddy Releases

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: # Allows manual triggering

permissions:
  contents: write

jobs:
  check-caddy-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install requests

      - name: Check and compare Caddy release
        id: check_release
        run: python scripts/check_caddy_release.py

      - name: Update version file
        if: env.IS_NEW_RELEASE == 'true'
        run: |
          echo "{\"version\": \"${{ env.LATEST_VERSION }}\"}" > version.json
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git add version.json
          git commit -m "Update version to ${{ env.LATEST_VERSION }}"
          git push

      - name: Trigger Build Workflow
        if: env.IS_NEW_RELEASE == 'true'
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.rest.repos.createDispatchEvent({
              owner: context.repo.owner,
              repo: context.repo.repo,
              event_type: 'caddy-release',
              client_payload: {
                latest_version: '${{ env.LATEST_VERSION }}'
              }
            })
